html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
nav{
    margin:0;
    background-color:white;
    text-decoration:none;
}
ul{
    margin:0;
    display:flex;
    justify-content:center;
}
a{
    margin:1rem;
}
header{
    display:flex;
    align-self:center;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    border-bottom:1px solid white;
    
}
#image{
    margin-left:auto;
    margin-right:auto;
}
main{
    width:100%;
    
    text-align:center;
    display:block;
    background-color:white;
}
article{
    text-align:center;
    background-color:rgb(122,21,1);
    padding-top:1em;
    color:white;
}
hr{
    width:40rem;
}
footer{
    height:18%;
    width:80em;
    display:flex;
    background-color:rgb(122,21,1);
    
    margin-left:auto;
    margin-right:auto;
    /*justify-content:center;*/
    
   
    
}
aside{
    background-color:rgb(122,21,1);
    height:100%;
}

div{
    padding:3em;
    background-color:rgb(122,21,1);
    justify-content:center;
    display:inline;
    flex-direction:row;
    margin-left:auto;
    margin-right:auto;
    
}
.borders{
    
    border-left:1px solid white;
    border-right:1px solid white;
}
#start{
    align-self:flex-start;
}
#center{
    align-self:center;
    
}
#end{
    align-self:flex-end;
}
section{
    
    display:inline;
}
